body header#mast {
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: #121319;
  border-bottom: 1px solid #303030;
  position: absolute;
  -webkit-box-shadow: 0 1px 0 black;
  -moz-box-shadow: 0 1px 0 black;
  -ms-box-shadow: 0 1px 0 black;
  box-shadow: 0 1px 0 black;
}
