<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>{{ page.title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Dan Trevino" />
    <link href="http://feeds.feedburner.com/dan-trevino" rel="alternate" title="Dan Trevino" type="application/atom+xml" />
	<!-- The 1140px Grid -->
	<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
	
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<![endif]-->
	
	<!-- Type and image presets - NOT ESSENTIAL -->
	<link rel="stylesheet" href="css/typeimg.css" type="text/css" media="screen" />
	<!-- Make minor type adjustments for 1024 monitors -->
	<link rel="stylesheet" href="css/smallerscreen.css" media="only screen and (max-width: 1023px)" />
	<!-- Resets grid for mobile -->
	<link rel="stylesheet" href="css/mobile.css" media="handheld, only screen and (max-width: 767px)" />
	<!-- Put your layout here -->
	<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

</head>
<body>
  <a href="http://github.com/dantrevino"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://assets0.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_left_red_aa0000.png&path=" alt="Fork me on GitHub"></a>
<div class="container">
{{ content }}
</div>
</body>
</html>
